<h2>Events</h2>

<% if current_user.super_admin %>
  <%= link_to "Add Event", new_event_path %>
<% end %>

<table>
  <tr>
    <th>Event Name</th>
    <th></th>
  </tr>

  <% @events.each do |event| %>
    <tr>
      <td><%= event.name %></td>
      <td>
        <%= link_to "View Attendees", event_attendees_path(event) %>
        <% if current_user.super_admin %>
          <%= link_to "Edit", edit_event_path(event) %>
          <%= link_to "Remove", event_path(event), method: :delete %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
