<h2><%= @event.name %></h2>

<%= link_to "View Attendees", event_attendees_path(@event) %>
<%= link_to "Generate Badges", export_event_attendees_path(@event) %>


<%= link_to "Edit", edit_event_path(@event) %>
<%= link_to "Remove", event_path(@event), method: :delete %>
<div>
<%= image_tag(@event.logo) %>
</div>
<h3>Roles</h3>
<ul>
<% @event.roles.uniq.each do |role| %>
  <li style="background-color: #<%= role.border_color %>"><%= link_to role.name, event_role_path(@event, role) %></li>
<% end %>
</ul>

<h3>Sponsors</h3>
<ul>
<% @event.sponsor_companies.each do |sponsor| %>
  <li><%= sponsor.company %></li>
<% end %>
</ul>
